body {
  font-family: 'Space Mono', monospace;
  margin: 0 10%;
}

.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.coral-pink {
  background-color: #FA8072;
  color: #000;
}

.seafoam-green {
  background-color: #9FE2BF;
  color: #000;
}

.red-brown {
  background-color: #A52A2A;
  color: #000;
}

.wheat {
  background-color: #wheat;
  color: #fff;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.sono {
  font-family: 'Sono', sans-serif;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.averia-libre {
  font-family: 'Averia Libre', cursive;
}

.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Sono', sans-serif;
}

.text-panel h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Space-mono', monospace;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Averia-libre', cursive;
}
